# Ignorar as pastas de compilação/distribuição nas estatísticas do GitHub
build/** linguist-vendor=true
dist/** linguist-vendor=true

# Manter as regras para ficheiros TeX e HTML soltos, caso existam
*.tex linguist-documentation=true
*.html linguist-documentation=true