altgraph==0.17.4
asgiref==3.8.1
Django==5.2
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
dnspython==2.7.0
mysql-connector-python==9.3.0
packaging==25.0
paho-mqtt==2.1.0
pefile==2023.2.7
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
PyJWT==2.9.0
pymongo==4.12.1
pywin32-ctypes==0.2.3
setuptools==80.3.1
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
